In [ ]:
# argv types
'''
1. positional argv
2. keywords argv
3. default argv
'''

In [4]:
def student_info(x, rl):
    st =f'''
    Name: {x}
    Roll Number: {rl}'''
    print(st)

student_info('Amit', 34)

    Name: Amit
    Roll Number: 34

In [7]:
student_info('Ravi', 100)

    Name: Ravi
    Roll Number: 100

In [9]:
def add(a, b):
    return a + b

# main code
n1 = 23
n2 = 33
out = add(n1, n2)
print(out)

56

In [33]:
import random
def otp():
    out = str(random.random())[-4:]
    return out

In [41]:
otp()

'9468'

In [48]:
# positional arguments
def add(a, b):
    print('a', a)
    print('b', b)
# main code
x = 19
y = 23
add(x, y)

a 19
b 23

In [60]:
# optional positinal Arguments
# positional arguments
def add(*c):
    s = 0
    for i in c:
        s += i
    return s    
# main code
x = 19
y = 23
out = add(10, 34)
print(out)

44

In [69]:
# default arguments
def add(a, b=0):
    return a + b 

# main code
out = add(200)
print(out)

200

In [ ]:
# type of arguments
'''
1. positional
2. keyword
3. default 
'''

In [70]:
def info():
    print('''
    GLA University, Mathura
    Best University in India
    NAAC A++
    NIRF 99
    ''')

In [73]:
info()

    GLA University, Mathura
    Best University in India
    NAAC A++
    NIRF 99

In [74]:
def student_info(a, rl):
    print(f'''
    Name: {a}
    Class Roll Number: {rl}
    ''')

In [77]:
student_info('Shubhi', 2)

    Name: Shubhi
    Class Roll Number: 2

In [79]:
# with arguments with return 
def add(a, b):
    return a + b

# main code
x1 = 233
x2 = 10
out = add(x1, x2)
out2 = add(23, 123)
print(out)
print(out2)

243
146

In [105]:
# No argv with return 
def otp():
    out = str(random.random())[-4:]
    return out

# main code
out = otp()
print(out)

7559

In [121]:
otp()

'5342'

In [129]:
# positional argument
def add(a, b):
    print('a', a)
    print('b', b)


add(10, 2)

a 10
b 2

In [147]:
# optional positinal argument
def optional_add(*c):
    s = 0
    for i in c:
        s += i
    return s
# main
out = optional_add(12, 34, 34)
print(out)

80

In [159]:
# default argument
def add(a=0, b=0):
    return a + b

# main code
out = add(2)
print(out)

2