In [1]:
# tuple(): tuple is the ordered collection of objects enclosed within paranthesis
account_info = ('iob bank', 21221212, 'gla branch')
print(account_info)

('iob bank', 21221212, 'gla branch')

In [3]:
# accessing the elements
tp = (22, 42, 'hello', 3.8)
# out = tp[0]  # index
out = out = tp[1:3]  # slicing range
print(out)

(42, 'hello')

In [10]:
# item assignment:  'tuple' object doesn't support item assignment 
# item deletion: 'tuple' object doesn't support item deletion
ls = [3, 43]
del ls[1]
print(ls)

[3]

In [7]:
ls = [10, 100]
print(ls, id(ls))
ls[0] = 'R'
print(ls, id(ls))

[10, 100] 1873679589184
['R', 100] 1873679589184

In [14]:
tp1 = (30, 34)
tp2 = (2, 100)
tp = tp1 + tp2
print(tp, type(tp))

(30, 34, 2, 100) <class 'tuple'>

In [11]:
# list in a tuple
# tuple in a list

In [4]:
ls = (3, 4, 5)
ls[0] = 100
# print(out)
print(ls)

TypeError: 'tuple' object does not support item assignment

In [10]:
k = (3, 'hello', 3.54)
# k[0] = 100  # tuple dosnt support the item assignment
del k[0]
print(k)

TypeError: 'tuple' object doesn't support item deletion

In [18]:
ls = (4, 67, (3, 4), [3, 5])
ls[-1][0] = 100
print(ls)

(4, 67, (3, 4), [100, 5])