In [ ]:
# control flow structure
# statements
'''
if condition:
    statements1...
    ...
'''

In [3]:
num = -12
if num > 0:
    print('Number is Positive')
else:
    print('Number is Negative')

Number is Negative

In [6]:
h = 10  # height of water tank 
r = 5  # radius of tank
F = 15  # pump flow rate
t = int(input('Enter the time for pump to be on '))

Vwtr = F * t
Vtank = 3.14 * r ** 2 * h

if Vwtr == Vtank:
    print('Tank Full ')
elif Vwtr < Vtank:
    print('Underflow Condition')
    ht = Vwtr / (3.14 * r ** 2)
    hr = h - ht
    print('Filled Height', ht)
    print('Remaining Height', hr)
else:
    print('Overflow Condition ')
    print('Overflow Volume', Vwtr-Vtank)

Underflow Condition
Filled Height 0.0
Remaining Height 10.0

In [9]:
# conditional expression in python 

a = 23
b = 30
c = 45

out = a if a > b else b

print('Largest number ', out)

Largest number  30

In [15]:
# match cases in Python 

val = 30
match val:
    case 1:
        out = 'small'
    case 2:     
        out = 'Medium'
    case 3:
        out = 'Large'

    case _:
        out = 'Invalid Number '  

print(out)

Invalid Number

In [16]:
point = (2, 0)

match point:
    case (rt, 0):
        print('Pointer will ne on X axis')
    case (0, rt):
        print('Pointer will be on Y Axis')
    case (rx, tx):
        print('Value is not in lines  ')

Pointer will ne on X axis

In [24]:
# list : collection of objects enclosed within square brack mutable in nature 
s = [3, 4, 5, 6, 7]
print(s[0])

3

In [32]:
# unpacking of list 
a, b = [3, 'hello']

print(f'{a=}')
print(f'{b=}')

a=3
b='hello'

In [41]:
# tuple(): 
info = ('amit', 23, 'gla', 'mathura')
print(info, id(info))

info = list(info)
del info[0] 
info = tuple(info)

print(info, id(info))

('amit', 23, 'gla', 'mathura') 2824618902848
(23, 'gla', 'mathura') 2824618488512

In [54]:
a, b, *y = 34, 4, 54,3 ,5 ,3
print(f'{a=}')
print(f'{b=}')
print(f'{y=}')

a=34
b=4
y=[54, 3, 5, 3]

In [56]:
a, *b, y = 34, 4, 54,3 ,5 ,3
print(f'{a=}')
print(f'{b=}')
print(f'{y=}')

a=34
b=[4, 54, 3, 5]
y=3

In [62]:
# string method split 
st = '34 25 6 9  0 23'
out = st.split()
print(out)

['34', '25', '6', '9', '0', '23']

In [66]:
ls = ['4', '55', '45']
out = list(map(int, ls))
print(f'{ls=}')
print(f'{out=}')

ls=['4', '55', '45']
out=[4, 55, 45]

In [68]:
def c2f(x):
    return 1.8 * x + 32

In [70]:
celcius_tmp = [34, 23.55, 123, -40, 100]

ls = list(map(c2f, celcius_tmp))

print(ls)

[93.2, 74.39, 253.4, -40.0, 212.0]

In [75]:
st = 'rahul'
print(list(map(ord, st)))

[114, 97, 104, 117, 108]

In [78]:
def u_fun(x):
    return x + ' bhanu'

In [80]:
names = ['venky', 'rai', 'rahul', 'abhishek', 'zoya']

print(list(map(len, names)))

[5, 3, 5, 8, 4]

In [83]:
# loop with range function 

# for-loop: iteration over the sequential data

'''
for val in seq:
    body_for
else:
    body_else
'''

1

In [106]:
# range(start=10, stop=1, step=-1)

for i in range(10, 1, -1):   # [10, 9, 8, 7,6, 5, 4, 3, 2]
    print(i)

else:
    print('loop completed')

2
5
8