In [13]:
# dictionary : Unordered collection of items,each item is the pair of key and value

info = { 'marks':{'math':23, 'python':21, 'english':28, 'physics':24}, 
            'section':'4B', 'college':'GLA', 'spi':7.4, 'name':'Ruchi', 'rolln':34}

out = info['marks']['python']
print(out)
# print(info)

21

In [22]:
# dictionary : unordered collection of items 
info = {'name':'krish', 'rolln':44, 'section':'5B', 'marks':{'math':28, 'python':25, 'english':21, 'physics':28}, 'college':'GLA'}
# out = info[1]

# print(out)

In [25]:
out = info['marks']['python']
print(out)

25

In [8]:
# dictionary object in Python:
# unordered collection of items and each item is the pair of key and value

info =  {'rolln': 82, 'marks': [23, 17, 23, 16, 20, 12], 'College':'GLAU', 'name':'yash'}
out = info['name']
print(out)

yash

In [10]:
# operations with dictionary 

info =  {'rolln': 82, 'marks': [23, 17, 23, 16, 20, 12], 
'College':'GLAU', 'name':'yash', 'name': 'Ravi'}
out = info['name']
info['address'] = 'Chaumuhan'
print(info)

{'rolln': 82, 'marks': [23, 17, 23, 16, 20, 12], 'College': 'GLAU', 'name': 'Ravi', 'address': 'Chaumuhan'}

In [16]:
# mutablity: mutable
info =  {'rolln': 82, 'marks': [23, 17, 23, 16, 20, 12], 'College':'GLAU', 'name':'yash'}

# item deletion
# del info['rolln']

# item assignment
info['rolln'] =  100
print(info)

{'rolln': 100, 'marks': [23, 17, 23, 16, 20, 12], 'College': 'GLAU', 'name': 'yash'}

In [17]:
ls = (3, 5, 6)
del ls[0]  # deletion not applicable 
print(ls)

TypeError: 'tuple' object doesn't support item deletion

In [16]:
# dictionary in Python: Unordered collection of items and each item is the pair of key and value
info = {'name':'Ravi', 'id':'Au747372373', 'address':'Chaumuhan', 'score':8.5}
# out = info[2]
print(info)

{'name': 'Ravi', 'id': 'Au747372373', 'address': 'Chaumuhan', 'score': 8.5}

In [15]:
n = 50000000
s = n * (n+1) // 2
# for i in range(1, n+1):
#     s += i
print(s)

1250000025000000