In [4]:
# built-in functions 
def apna_fun(x):
    return x[-1]

lst = ['abhishek', 'ravi', 'akarsh', 'sonal']
lst.sort(key=apna_fun)
print(lst)

['akarsh', 'ravi', 'abhishek', 'sonal']

In [11]:
ls = [3, 5, 6, 3, -1]
ls.sort()
ls.reverse()
print(ls)

[6, 5, 3, 3, -1]

In [6]:
def ascii_weight(x):
    s = 0
    for i in x:
        s += ord(i)
    return s    

data = 'mayank'
out = ascii_weight(data)
print(out)

641

In [12]:
lst = ['abhishek', 'ravi', 'akarsh', 'sonal']
lst.sort(key=ascii_weight)
print(lst)

['ravi', 'sonal', 'akarsh', 'abhishek']

In [1]:
def fact_sum(*argv):
    def fact(x):
        if x == 0:
            return 1
        return x * fact(x-1)
    s = 0
    for i in argv:
        s += fact(i)
    return s
fact_sum(3, 4, 5)

150

In [ ]:
# higher order functions 
def prime(num):
    count = 0
    for i in range(1, num+1):
        if num % i == 0:
            count += 1
    if count == 2:
        return 'Prime'
    else:
        return 'Not a Prime'

# input section
num = 23

out = prime(num)

# display section
print(out)

In [4]:
def fact_sum(*argv):
    def fact(x):
        f = 1
        for i in range(1, x+1):
            f *= i
        return f 
    s = 0
    for i in argv:
        s += fact(i)    
    return s 
# main code 
n = int(input('Enter the number of elements '))
ls = []
for i in range(n):
    ele = int(input(f'Enter the positive Integer {i+1} '))
    if ele >= 0:
        ls.append(ele)

out = fact_sum(*ls)
print(out)

3

In [16]:
def ascii_weight(x):
    s = 0
    for i in x:
        s += ord(i)
    return s 
# main code
ele = 'sonal'
out = ascii_weight(ele)
print(out)

541

In [17]:
# heigher order function
def apna_fun(x):
    return x[-1]

ls = ['abhishek', 'sonal', 'raghav', 'amit']
# ls = ['@', '&', '#']
ls.sort(key=ascii_weight)
print(ls)

['amit', 'sonal', 'raghav', 'abhishek']

In [9]:
def issorted(lst):
    t = lst.copy()
    lst.sort()
    if t == lst :
        return 1
    elif t==lst[::-1]:
        return 0
    else:
        return -1

# main 
ls = list(map(int, input().split()))
out = issorted(ls)
print(out)


'''
I/P-> 2 3 5 -2
O/P-> -1

I/P-> 2 9 14
O/P-> 1

I/P-> 20 9 4
O/P-> 0
'''

38

In [25]:
# map(): 
def apna_fun(x):
    f = 1
    for i in range(1, x+1):
        f *= i
    return f    


lst = [4, 6, 5]
out = map(apna_fun, lst)
print(out)

<map object at 0x000001E4059D6FB0>

In [26]:
next(out)

24

In [32]:
def apna_fun(x):
    return int(x) - 1
ls = ['3',  '45',  '12']
out = list(map(apna_fun, ls))
print(out)

[2, 44, 11]

In [33]:
st = 'hello'
out = list(map(ord, st))
print(out)

[104, 101, 108, 108, 111]

In [37]:
def ascii_weight(x):
    s = 0
    for i in x:
        s += ord(i)
    return s

In [43]:

lst = ['ramesh', 'akash', 'lalit', 'anuz', 'zziya']
lst.sort(key=lambda x: x[-1])
print(lst)

['zziya', 'ramesh', 'akash', 'lalit', 'anuz']

In [ ]:
def ascii_weight(x):
    s = 0
    for i in x:
        


lst = ['ramesh', 'akash', 'lalit', 'anuz', 'zziya']
lst.sort(key=)
print(lst)

In [70]:
import math
st = [3, 4, 5, 6]
out = list(map(math.factorial, st))
print(out)

[6, 24, 120, 720]

In [71]:
st = [33, 4, 42, 42]
out = list(map(lambda x: x+2, st))
print(out)

[35, 6, 44, 44]

In [69]:
for i in out:
    print(i)
    print(list(out))

6
[24, 120, 720]

In [2]:
# heigher order functions
def issorted(ls):
    t = sorted(ls)
    if t == ls:
        return 0
    elif t == ls[::-1]:
        return 1
    else:
        return -1    

# main code
lst = list(map(int, input().split()))
out = issorted(lst)
print(out)

0

In [46]:

    
lst = ['ramesh', 'satish', 'anu', 'zoya', 'saket']
lst.sort(key=lambda x: sum(map(ord, x)) )
print(lst)

['anu', 'zoya', 'saket', 'ramesh', 'satish']

In [45]:

ascii_weight = lambda x: sum(map(ord, x)) 

# main
st = 'abhishek'
out = ascii_weight(st)
print(out)

532

In [42]:
# [104, 101, 108, 108]
for i in out:
    print(i)
    next(out)

In [7]:
def prime(x):
    for i in range(2, x):
        if x % i == 0:
            return 1
    return 0         

lst = [3, 4, 5, 6, 2, 7, 11, 17, 19, 22, 23]
lst.sort()
lst.sort(key=prime)
print(lst)

[2, 3, 5, 7, 11, 17, 19, 23, 4, 6, 22]

In [5]:
# lambda function
# def c2f(c):
#     return c * 1.8 + 32

c2f = lambda c: c * 1.8 + 32
out = c2f(-40)
print(out)

-40.0